.section {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 100%;
  width: 100%;
  color: #635554;
  background-color: #635554;
  opacity: 0.9;
}

.sectionHorizontal {
  flex-direction: column;
}

.sectionVertical {
  flex-direction: row;
}
