.container {
  box-sizing: border-box;
  transition: height 0.1s ease, width 0.1s ease;
  position:relative;
}

.innerContainer {
    position: absolute;
    width: calc(100%);
    height: calc(100%);
}

.optionsButton {
  border: transparent;
  padding: 8px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  position: absolute;
  z-index: 2;
}

.removeButton {
  border: transparent;
  padding: 8px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  right: 0;
  position: absolute;
  z-index: 2;
}
