/* Themes for blimp */

/* This is just a collection of css variables */


/* We will set 'themes' by changing our default css variables to match these */

%theme {
  background-color: var(--base-1);
  color: var(--base-4);
}

.theme--light {
  @extend %theme;
  --base-1: #f2f2f2;
  --base-2: #dadada;
  --base-3: #aaa;
  --base-4: #000;
}
.theme--dark {
  @extend %theme;
  --base-1: #000;
  --base-2: #333;
  --base-3: #999;
  --base-4: #fff;
}
